@page "/"

<h3>Bienvenido al registro de prestamos con Mora!</h3>


<p>
    En este registro el usuario puede crear personas,
    aplicar prestamos a las personas y aplicar moras a estos prestamos.
</p>










<p>Creado por: Anthony Brian Jiménez López.</p>
